# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c          text
*.cpp        text
*.CMakeLists text
*.h          text

# Declare files that will always have CRLF line endings on checkout.
# FOR EXAMPLE (not used in RAMSES):
# *.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png    binary
*.jpg    binary
*.RAMSES binary
*.BMP	 binary
*.PNG	 binary
*.bin	 binary
*.bmp	 binary
*.bz2	 binary
*.eap	 binary
*.pac	 binary
*.pack	 binary
*.png	 binary
*.pptx	 binary
*.rex	 binary
*.tga	 binary
*.ttf	 binary
*.vsdx	 binary

