[submodule "external/harfbuzz"]
	url = https://github.com/harfbuzz/harfbuzz.git
	path = external/harfbuzz
	branch = refs/heads/2.6.1
[submodule "external/googletest"]
	url = https://github.com/google/googletest.git
	path = external/googletest
	branch = refs/heads/release-1.10.0
[submodule "external/glslang"]
	url = https://github.com/KhronosGroup/glslang.git
	path = external/glslang
	branch = refs/heads/6.2.2596
[submodule "external/freetype"]
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
	path = external/freetype
	branch = refs/heads/VER-2-9
[submodule "external/asio"]
	url = https://github.com/chriskohlhoff/asio.git
	path = external/asio
	branch = refs/heads/asio-1-12-2
[submodule "external/lz4"]
	url = https://github.com/lz4/lz4.git
	path = external/lz4
	branch = refs/heads/v1.7.5
[submodule "external/fmt"]
	url = https://github.com/fmtlib/fmt.git
	path = external/fmt
	branch = refs/heads/6.1.2
[submodule "external/abseil"]
	url = https://github.com/abseil/abseil-cpp.git
	path = external/abseil
	branch = refs/heads/lts_2019_08_08
[submodule "external/imgui"]
	url = https://github.com/ocornut/imgui.git
	path = external/imgui
	branch = refs/heads/v1.62
